.card1 {
    background-color:#BEADFA ;
    width: 500px;
    font-size: 20px ;
    display: flex;
    flex-direction: row;
    &__p{
        width: 350px;
    }
    &__li{
        list-style: $quitar_punto ;
        background-color:#BEADFA ;
        width: 450px;
        font-size: 20px ;
        display: flex;
        flex-direction: row;
    }
}