.card1 {
    background-color:#BEADFA ;
    width: 500px;
    font-size: 20px ;
    display: flex;
    flex-direction: row;
    &__p{
        width: 356px;
    }
    &__li{
        list-style: $quitar_punto ;
        background-color:#BEADFA ;
        width: 450px;
        font-size: 20px ;
        display: flex;
        flex-direction: row;
    }
}

.card2 {
    display: flex;
    flex-direction: row;
    &__li {
        list-style: $quitar_punto ;
    }

}

.card3 { 
    &__p{
       text-align: end;
        margin: 2%;  
        text-decoration: underline;
    }
}

.card4 {
    width: 500px;
    font-size: 20px ;
    display: flex;
    flex-direction: row;
    width: 500px;
    font-size: 20px ;
    display: flex;
    flex-direction: row;
    text-decoration: underline;
}